<% provide(:page_title, 'About') %>

	<div itemscope itemtype="http://schema.org/Organization">
		<span itemprop="description">Multitude is a Christian organization that makes it easy for christians to find and book retreats.</span>
	</div>

	<a href="<%= 'contact' %>">Contact us</a> for more information.
