<% provide(:page_title, 'Help') %>

<section>
	<h1>Contact Customer Support</h1>

	<div itemscope itemtype="http://schema.org/Organization">
	  <span itemprop="name">Multitude Inc.</span>

	  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
	    Address:
	      <span itemprop="streetAddress">635 Fake Avenue</span>
	      <span itemprop="addressLocality">Sunnyvale, CA</span>
	      <span itemprop="postalCode">94087</span> 
	  </div>
	    Tel:<span itemprop="telephone">(999) 329 3094</span>
	    E-mail: <span itemprop="email">support@multitude.io</span>
	</div>
</section>