<% provide(:page_title, 'Home') %>

<div class="jumbotron">
  <div class="container text-center">
	  <h1>WELCOME. REST AWAITS.</h1>
	  <p>Find the perfect place for your church, group or personal retreat.</p>
  	<div class="row">
	    <div class="col-lg-4 col-lg-offset-4">
	        <div class="input-group">
	            <input type="text" class="form-control" placeholder="Where"/>
	            <input type="date" class="form-control" />
	            <input type="date" class="form-control" />
	            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button>
	         		</span>
	        </div>
			        <!-- /input-group -->
			    </div>
			    <!-- /.col-lg-6 -->
			</div>
		<!-- /.row -->
  	</div>
</div>

<div itemscope itemtype="http://schema.org/Organization">
	<span itemprop="description">Multitude makes it easy for christians to find and book retreats.</span>
</div>

<a href="<%= 'contact' %>">Contact us</a> for more information.