<% provide(:page_title, 'Home') %>

<div itemscope itemtype="http://schema.org/Organization">
	<span itemprop="description">Multitude makes it easy for christians to find and book retreats.</span>
</div>

<a href="<%= 'contact' %>">Contact us</a> for more information.