<% provide(:page_title, 'Home') %>
</div>
<div class="jumbotron">
  <div class="container text-center">
	  <h1>WELCOME. REST AWAITS.</h1>
	  <p>Find the perfect place for your church, group or personal retreat.</p>
  	<div class="container">
  		<div class="row">	
		    <div class="col-xs-4 center-block">
	        <div class="input">
	            <input type="text" class="form-control" placeholder="Where"/>
	        </div>
	     	</div>
	     	<div class="col-xs-2 center-block">
	        <div class="input">
	            <input type="date" class="form-control" placeholder="Arriving"/>
	        </div>
	     	</div>
	     	<div class="col-xs-2 center-block">
	        <div class="input">
	            <input type="date" class="form-control" placeholder="Leaving"/>
	        </div>
	     	</div>
	        <span class="col-xs-1 center-block"><button class="btn btn-default btn-md" type="button">Search</button>
	        </span>
	    </div>
    </div><!-- /.row -->
  </div>
</div>

<div itemscope itemtype="http://schema.org/Organization">
	<span itemprop="description">Multitude makes it easy for christians to find and book retreats.</span>
</div>

<a href="<%= 'contact' %>">Contact us</a> for more information.
<div class="container">