@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
  padding-top: 70px;
}

.center-block {
	float: none;
	display:inline-block;
}

/* jumbotron */

.jumbotron {
	height: 500px;
	padding-top: 120px;
	background-image: image-url('homepage-feature.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: $gray-medium-light;
	h1, {
		font-weight: 800;
	}
	h2, h3, h4, p {
		font-weight: 500;
	}
}

/* header */

#home_header {
	position: absolute;
	width: 100%;
	top: 20px;
	background:transparent;
	z-index: 1000;
	a {
		color: white;
		&:hover {
    background: none;
    color: $gray-medium-light;
  	}
	}
}

#header {
	position: relative;
	width: 100%;
	top: 20px;
	z-index: 1000;
	}

/* footer */
footer {
	margin-top: 45px;
	padding: 10px; 
	small {
		float: left;
		padding-top: 15px;
	}
}