@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
  padding-top: 70px;
}

.center-block {
	float: none;
	display:inline-block;
}

/* jumbotron */

.jumbotron {
		height: 500px;
		padding-top: 100px;
}

/* header */

#header {
	position: absolute;
	width: 100%;
	top: 20px;
	background:transparent;
	z-index: 1000;
}

/* footer */
footer {
	margin-top: 45px;
	padding: 10px; 
	small {
		float: left;
		padding-top: 15px;
	}
}