<footer class="footer navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
	  <small>
	    <%= link_to "Multitude", root_path %> is a free service for Christians to find retreats.
	  </small>
	  <nav class="navbar-right">
	    <ul class="nav navbar-nav">
	      <li><%= link_to "About",   about_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	    </ul>
	  </nav>
	</div>
</footer>